<title>{{ printf "%s | %s" .Title site.Title }}</title>
{{- if .IsHome -}}
    <meta name="description" content="{{ site.Params.description }}" />
{{- else -}}
    <meta name="description" content="{{ .Summary | plainify | chomp }}" />
{{- end }}
<link rel="canonical" href="{{ .Permalink }}" />
{{- if .Paginator -}}
    {{- if .Paginator.HasPrev -}}
        <link rel="prev" href="{{ .Paginator.Prev.URL | absURL }}" />
    {{- end -}}
    {{- if .Paginator.HasNext -}}
        <link rel="prev" href="{{ .Paginator.Next.URL | absURL }}" />
    {{- end -}}
{{- end }}


<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="{{ site.Params.twitterSite }}" />
{{- if .IsHome -}}
    <meta name="og:title" content="{{ site.Title }}" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="{{ site.Params.description }}" />
    <meta property="og:url" content="{{ site.BaseURL }}" />
    <meta name="og:image" content="{{ site.Params.image }}" />
    <meta name="twitter:creator" content="{{ site.Params.twitterSite }}" />
    <meta name="twitter:title" content="{{ site.Title }}" />
    {{- if isset site.Params "twitterImage" -}}
        <meta name="twitter:image" content="{{ site.Params.twitterImage }}" />
    {{- else -}}
        <meta name="twitter:image" content="{{ site.Params.image }}" />
    {{- end -}}
{{- else -}}
    <meta name="og:title" content="{{ .Title }}" />
    {{- if isset .Params "og_type" -}}
        <meta property="og:type" content="{{ .Params.og_type }}" />
    {{- else -}}
        <meta property="og:type" content="website" />
    {{- end -}}
    <meta property="og:description" content="{{ .Summary | plainify | chomp }}" />
    <meta property="og:url" content="{{ .Page.Permalink }}" />
    {{- if isset .Params "image" -}}
        <meta name="og:image" content="{{ .Params.image }}" />
        <meta name="twitter:image" content="{{ .Params.image }}" />
    {{- else -}}
        <meta name="og:image" content="{{ site.Params.image }}" />
        <meta name="twitter:image" content="{{ site.Params.image }}" />
    {{- end -}}
    {{- if isset .Params "authorTwitterHandle" -}}
        <meta name="twitter:creator" content="{{ .Params.authorTwitterHandle }}" />
    {{- else -}}
        <meta name="twitter:creator" content="{{ site.Params.twitterSite }}" />
    {{- end -}}
    <meta name="twitter:title" content="{{ .Page.Title }}" />
{{- end -}}
