{{ define "main" }}
<header class="mx-auto w-full max-w-2xl format format-sm sm:format-base lg:format-lg format-blue dark:format-invert">
    {{ partial "breadcrumb.html" . }}
</header>
  {{ partial "tags-buttons.html" . }}
<article class="prose md:prose-lg lg:prose-xl dark:prose-invert">
  {{ .Content }}
  </article>
<section class="flex gap-4 flex-wrap justify-center">
        {{ range .Paginator.Pages }}
              {{ .Render "summary" }}
        {{ end }}

      </section>

      <div class="flex justify-center p-8 [&_.page-item.active]:text-primary-400 [&_.pagination]:gap-2 [&_.pagination]:flex [&_.page-item]:h-10 [&_.page-item]:w-10 [&_.page-item]:flex [&_.page-item]:items-center [&_.page-item]:justify-center [&_.page-item]:border [&_.page-item]:border-gray-600 [&_.page-item]:rounded  ">
              {{ template "_internal/pagination.html" . }}
      </div>
{{ end }}
